# Data Analysis with Pandas

## Dataset: Video Game Sales

### Sales Data from More Than 16,500 Games

#### Alex Angelico
#### 2021-19-01

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vgsales.csv')

## Question 1
### Which company is the most common video game publisher?

In [43]:
most_common_publisher = df['Publisher'].mode().item()
f"The most prolific video game publisher is {most_common_publisher}."

'The most prolific video game publisher is Electronic Arts.'

## Question 2
### What’s the most common platform?

In [44]:
most_common_platform = df['Platform'].mode().item()
f"The most sold video game platform is {most_common_platform}."

'The most sold video game platform is DS.'

## Question 3
### What about the most common genre?

In [5]:
most_common_genre = df['Genre'].mode().item()
f"The most common video game genre is {most_common_genre}."

'The most common video game genre is Action.'

## Question 4
### What are the top 20 highest grossing games?

In [101]:
top_twenty_highest_grossing_games = df[['Rank','Name','Global_Sales']].head(20).set_index('Rank')
top_twenty_highest_grossing_games

                                              Name  Global_Sales
Rank
1                                       Wii Sports         82.74
2                                Super Mario Bros.         40.24
3                                   Mario Kart Wii         35.82
4                                Wii Sports Resort         33.00
5                         Pokemon Red/Pokemon Blue         31.37
6                                           Tetris         30.26
7                            New Super Mario Bros.         30.01
8                                         Wii Play         29.02
9                        New Super Mario Bros. Wii         28.62
10                                       Duck Hunt         28.31
11                                      Nintendogs         24.76
12                                   Mario Kart DS         23.42
13                     Pokemon Gold/Pokemon Silver         23.10
14                                         Wii Fit         22.72
15                                    Wii Fit Plus         22.00
16                              Kinect Adventures!         21.82
17                              Grand Theft Auto V         21.40
18                   Grand Theft Auto: San Andreas         20.81
19                               Super Mario World         20.61
20    Brain Age: Train Your Brain in Minutes a Day         20.22

## Question 5
### For North American video game sales, what’s the median?
#### What 10 games surround the game with the median value?

In [20]:
na_median_sales = df['NA_Sales'].median()
median = df['NA_Sales'].median()
ten_median_na_seller_names = df[df['NA_Sales'] == median][['Name', 'NA_Sales']].sort_values(by='Name')

                                        Name  NA_Sales
11231                              1 vs. 100      0.08
11308                101-in-1 Sports Megamix      0.08
10158  18 Wheels of Steel: Extreme Trucker 2      0.08
11193                   50 Cent: Bulletproof      0.08
10000                         A Witch's Tale      0.08
...                                      ...       ...
10718             iCarly 2: iJoin The Click!      0.08
9852                                  nail'd      0.08
10625                                 nail'd      0.08
7088               pro evolution soccer 2011      0.08
7835            uDraw Studio: Instant Artist      0.08

[459 rows x 2 columns]

In [8]:
df[df['NA_Sales'] > median][['Name', 'NA_Sales']].tail().sort_values('NA_Sales', ascending=True)

                                                    Name  NA_Sales
10975  Fighting Fantasy: The Warlock of Firetop Mountain      0.09
10990                                     I Love Puppies      0.09
10999                            Cake Mania: Main Street      0.09
11003                                            DaGeDar      0.09
11012                 NERF N-Strike: Double Blast Bundle      0.09

In [9]:
df[df['NA_Sales'] < median][['Name', 'NA_Sales']].head().sort_values('NA_Sales', ascending=False)

                          Name  NA_Sales
137          World of Warcraft      0.07
348  Pro Evolution Soccer 2008      0.05
214   Monster Hunter Freedom 3      0.00
338          Friend Collection      0.00
383           Monster Hunter 4      0.00

## Question 6
### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [52]:
x = df[['Name','Global_Sales']].head(1).iloc
y = df[df['Global_Sales'] == x[0][1]]['NA_Sales'].iloc

top_game_sales_NA_devs = (y[0] - df['NA_Sales'].mean()) / df['NA_Sales'].std()

f'The North American unit sales total of the top-selling game of all time, {x[0][0]}, is {round(top_game_sales_NA_devs, 2)} standard deviations from the North American mean unit sales total.'

'The North American unit sales total of the top-selling game of all time, Wii Sports, is 50.48 standard deviations from the North American mean unit sales total.'

## Question 7
### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [11]:
wii = df[df['Platform'] == 'Wii']['Global_Sales'].mean()
others = df[df['Platform'] != 'Wii']['Global_Sales'].mean()
percent = round((wii - others) / others * 100, 1)

f'Average game sales on Wii are {percent}% greater than the average of all other platforms. Average Wii game sales: {round(wii*1000000)} units. Average sales on all other platforms: {round(others*1000000)} units.'

'Average game sales on Wii are 33.6% greater than the average of all other platforms. Average Wii game sales: 699404 units. Average sales on all other platforms: 523390 units.'

## Question 8a
### Which genre of game historically has the highest average sales?

In [129]:
ranked_genre_list = df.groupby('Genre')['Global_Sales'].mean().sort_values(ascending=False)
genre = ranked_genre_list.index[0]
average_sales = round(ranked_genre_list[0]*1000000)

f'The {genre} genre historically has the highest average sales of {average_sales} units per game.'

'The Platform genre historically has the highest average sales of 938341 units per game.'

## Question 8b
### Which year had the highest global sales of video games?

In [130]:
ranked_year_list = df.groupby('Year')['Global_Sales'].sum().sort_values(ascending=False)
highest_year = int(ranked_year_list.index[0])
global_sales = round(ranked_year_list.iloc[0], 1)

f'{highest_year} had the highest global video game sales, totalling {global_sales} million units.'

'2008 had the highest global video game sales, totalling 678.9 million units.'

## Question 8c
### How many Pokemon games are there?

In [151]:
pokemon_games = len([game for game in df['Name'].iloc if game.count('Pokemon') != 0])

f'There are {pokemon_games} Pokemon games.'

'There are 35 Pokemon games.'

In [152]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales, 0.08)
    assert_equal(ten_median_na_seller_names.iloc[0].Name, '1 vs. 100')
    assert_equal(ranked_genre_list.index[0], 'Platform')
    assert_equal(int(ranked_year_list.index[0]), 2008)
    assert_equal(pokemon_games, 35)

    print("Success!!!")

test()

Success!!!